/*Tamanho das imagens da pagina de produtos*/
/*img{
    width: 200px;
    height: 100px;
}*/

 /*Abaixo, tag P usada nas paginas carrinho e produto: */
/*p{
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 260px;
}
/*
.logo{
    width: 30px;
    height: 24;
}*/

/*Tag usada nos titulos dos produtos na pagina de produtos: */
h4{
    text-align: left;
    margin: 0;
    background-image: linear-gradient(to left, #f1d8c9, #f2c3a7);
}

/*Estilização do simbolo do carrinho na pagina produtos: */
.carrinho{
    width: 40px;
    height: auto;
    float: right;
    margin-right: 25px;
}

/*Estilização da caixa de busca na pagina de produtos: 
#txtBusca{
    background-color:aliceblue;
    font-style: italic;
    color: rgb(0, 0, 0);
    font-size: 14px;
    height: 32px;
    border: solid 2px;
    border-radius: 10px;
    width: 200px;
    margin-top: 5px;
}
/*Estilo da tag header na maioria das paginas: */
/*header{
    background-image: linear-gradient(to left, #f1d8c9, #f2c3a7);
    min-height: 130px;
    padding-top: 30px;
    margin-top: 0px;
}
*/

/*Css abaixo da Pagina de Produtos:*/
/*Estilização do container principal da seção de produtos*/
/*.main{

    display: flex;
    justify-content: center;

}*/
/*Estilização dos containers que envolvem as imagens/descrição*/
/*.card{
    margin: 10px;
    background-color: rgb(233, 227, 227);
    color: rgb(20, 20, 20);
    text-align: center;
    width: 350px;
    height: 400px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}*/


/*Titulo dos produtos*/
.card>h4{
    text-align: center;
    font-size: 20px;
}

/*Botoes de adicionar ao carrinho: */
/*.btn{
    justify-content: center;

}*/

/*CSS Pagina do Carrinho: */
/*Container principal que engloba todos*/
.mainCarrinho{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    min-height: auto;
}

.cardFormulario{
     margin: 0px;
    background-color: rgb(247, 245, 245);
    color: rgb(20, 20, 20);
    text-align: center;
    width: 450px;
    height: 560px;
}
.cardFormulario>p{
 margin-top: 55px;
    text-align: justify;
    font-size: 18px;
}
/*Estilização de cada container*/
.cardCarrinho{
    margin: 0px;
    background-color: rgb(247, 245, 245);
    color: rgb(20, 20, 20);
    text-align: center;
    width: 450px;
    height: 560px;
    
}

/*imagens no carrinho*/
.cardCarrinho>img{
    margin-top: 50px;
    width: auto;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*tags P usada na pagina Carrinho*/
.cardCarrinho>p{
    margin-top: 55px;
    text-align: justify;
    font-size: 18px;
}
/*Descrição pequena de valor e qtd*/
.cardCarrinho>h6{
    color: rgb(156, 5, 5);
    margin-right: 200px;
  
}
/*Resumo do pedido*/
.cardResumo>ul>li{
    color: rgb(156, 5, 5);
    text-align: left;
    margin-top: 15px;
}
/*titulo resumo*/
.cardResumo>h3{
    
    text-align: left;
    margin-top: 52px;

}
/*endereço do cliente:*/
.cardResumo>u{
   
    text-align: left;
    margin-top: 200px;
}
/*Estilização dos botoes na pagina carrinho*/
.cardBotoes{
    height: auto;
    margin-top: 320px;
    display: flex;
    justify-content: left;
    
}

/*Abaixo: CSS da paginha sucesso-pedido */
/*container principal*/
.popUp{
    background-color: whitesmoke;
    justify-content: center;
    width: 580px;
    height: 550px;
    border-radius: 12px;
    display: flex;
    margin-top: 65px;
    margin-left: 500px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
/*titulo principal*/
.popUp>h2{
    margin-top: 55px;
    font-size: 30px;   
}

/*container interno com as infos principais*/
.popUpINFO{
    background-color: rgb(238, 239, 241);
    justify-content: center;
    width: 390px;
    height: 300px;
    border-radius: 12px;
    display: flex;
    margin-top: 160px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    position: absolute;
}
/*aviso de confirmação 1*/
.popUpINFO>h3{
    text-align: center;
    margin-top: 45px;
    position: absolute;
}
/*aviso de confirmação 2*/
.popUpINFO>h5{
    margin-top: 150px;
    font-size: 16px ;
    text-align: center;
    position: absolute;
}
/*botoes do container*/
.btnPaginaFinalizar{
    margin-top: 240px;
}








/*styles mantidos na pagina produto na fase 2:*/

/*Como cada imagem se comporta*/
.card>img{
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 5px 5px;
}

a {
    color: rgb(0, 0, 0);
    /* Cor preta */
}

/*LOGO DO IF NA NAVBAR*/
.navbar-brand>img{
    width: 40px;
    height: 34px;
}

/*Estilização para todas as paginas*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}


/* Abaixo: CSS do rodapé: */
.icones-sociais{
    display: flex;
    justify-content: center;

}
.icones-sociais a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50% ;
}
 

footer{
    background-image: linear-gradient(to right, #21B6DB, #1c50d3);
    height: auto;

}

/*Estilos mantidos na pagina carrinho na fase 2*/
.btn-gradiente {
    background-image: linear-gradient(to right, #21B6DB, #1c50d3); 
    color: #ffffff; 
    border: none;   
    transition: filter 0.2s ease; 
}

.btn-gradiente:hover,
.btn-gradiente:focus {
    filter: brightness(90%); /* Deixa 10% mais escuro */
    color: #ffffff;
}

/*Estilos mantidos na pagina sucesso-pedido fase 2*/
.timeline-step i {
    font-size: 3rem;
    color: #000000; 
}
.arrowsize i{
    font-size: 3rem;
    color: gray;
}

.custom-tooltip {
    --bs-tooltip-bg: violet;
    --bs-tooltip-color: white;
}

.btn-cardcolor {
    background-color:#F8F9FA;
    color: #000000; 
    border: none;   
    transition: filter 0.2s ease; 
}

/*estilos para as paginas meu pedido #xxxxx*/
.card-img-fixed-height {
  /* Defina aqui a altura fixa que você deseja para a imagem */
  height: 335px; 
  
  /* Você pode ajustar os 250px para 200px, 300px, etc. 
     Use a altura que a imagem da TV tem e que você gostou. */
}

.card-img-fixed-height img {
  width: 100%;
  height: 100%; /* A imagem vai preencher os 250px de altura do contêiner */
  object-fit: cover; /* Esta é a mágica: a imagem preenche o espaço e é "cortada" se necessário, sem distorcer. */
}